.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 12px 15px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.Auth input {
  width: 100%;
  display: block;
}

.Auth .Header {
  color: #352f2f;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px
  }
}